<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('partials/head', { title: "Copier l'annonce de la quête" }) %>
</head>

<body>
  <%- include('partials/header', { title: "Copier l'annonce de la quête" }) %>
  <main>
    <%- include('partials/menu', { currentPage: 'copy-annonce' }) %>
    <section class="border reveal">
      <h2>Copier l'annonce de la quête</h2>
      <p>
        Pour copier l'annonce de la quête facilement, mettez les infos nécessaires (numéro de la quête, quête or/gemme, jour et heure).
      </p>
    </section>
    <!-- Début du form -->
    <form id="form">
      <section class="border left reveal">
        <h2>Numéro de la quête</h2>
        <label>
          <input type="radio" name="numberQuest" value="1" /> Quête n°1
        </label>
        <br />
        <label>
          <input type="radio" name="numberQuest" value="2" /> Quête n°2
        </label>
        <br />
        <label>
          <input type="radio" name="numberQuest" value="3" /> Quête n°3
        </label>
        <br />
        <label>
          <input type="radio" name="numberQuest" value="4" /> Quête n°4
        </label>
        <br />
        <label>
          <input type="radio" name="numberQuest" value="5" /> Quête n°5
        </label>
        <br /><br />
      </section>
      <section class="border left reveal">
        <h2>Type de la quête</h2>
        <label>
          <input type="radio" name="typeQuest" value="400 or" /> Quête or
        </label>
        <br />
        <label>
          <input type="radio" name="typeQuest" value="80 gemmes" /> Quête gemme
        </label>
        <br /><br />
      </section>
      <section class="border left reveal">
        <h2>Dates de la quête</h2>
        <div class="display-flex">
          <input id="date" type="date">
        </div>
        <br /><br />
      </section>
      <section class="border reveal">
        <section>
          <button type="button" onclick="copyAnnonce()">Copier l'annonce</button>
        </section>
        <section>
          <button type="button" onclick="copyQuestGold(<%= JSON.stringify(players) %>)">Quête or gratuites</button>
        </section>
        <section>
          <button type="button" onclick="copyQuestGem(<%= JSON.stringify(players) %>)">Quête gemmes gratuites</button>
          <br /><br />
        </section>
      </section>
    </form>
    <!-- Fin du form -->
    <%- include('partials/return') %>
  </main>
  <%- include('partials/footer') %>
  <script src="scripts/script.js"></script>
  <script>
    function copyQuestGold(players) {
      // Trie les joueurs en fonction du nombre de quêtes dans l'ordre décroissant
      players.sort(function(a, b) {
        return b.goldQuest - a.goldQuest;
      });

      var questGoldToCopy = "Quête or gratuite: ";
      var firstMemberWithGold = true; // Utilisé pour ne pas ajouter de virgule avant le premier membre

      for (let i = 0; i < players.length; i++) {
        if (players[i].goldQuest >= 1) {
          if (!firstMemberWithGold) {
            questGoldToCopy += ", "; // Ajoute une virgule seulement si ce n'est pas le premier membre avec de l'or
          } else {
            firstMemberWithGold = false; // Indique que le premier membre a été trouvé
          }
          questGoldToCopy += players[i].username + " x" + players[i].goldQuest;
        }
      }

      navigator.clipboard.writeText(questGoldToCopy).then(function() {
        alert('Le texte ' + '\n\n' + questGoldToCopy + '\n\n' + ' a été copié!');
      });
    }
    /*-------------------------*/
    function copyQuestGem(players) {
      var questGemToCopy = "Quête gemme gratuite: ";
      var firstMemberWithGem = true;

      for (let i = 0; i < players.length; i++) {
        if (players[i].gemQuest >= 1) {
          if (!firstMemberWithGem) {
            questGemToCopy += ", ";
          } else {
            firstMemberWithGem = false;
          }
          questGemToCopy += players[i].username + " x" + players[i].gemQuest;
        }
      }
      var questGoldToGemToCopy = "\nPouvant échanger 5 quêtes or gratuite contre 1 quête gemme: ";
      var firstMemberWithGoldToGem = true;

      for (let i = 0; i < players.length; i++) {
        if (players[i].goldQuest >= 5) {
          if (!firstMemberWithGoldToGem) {
            questGoldToGemToCopy += ", ";
          } else {
            firstMemberWithGoldToGem = false;
          }
          questGoldToGemToCopy += players[i].username + " x" + players[i].goldQuest;
        }
      }
      questGemToCopy += questGoldToGemToCopy;
      navigator.clipboard.writeText(questGemToCopy).then(function() {
        alert('Le texte ' + '\n\n' + questGemToCopy + '\n\n' + ' a été copié!');
      });
    }
  </script>

</body>

</html>