<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('partials/head', { title: "Accueil" }) %>
</head>

<body>
  <%- include('partials/header', { title: "Bienvenue dans le clan" }) %>
    <main>
      <%- include('partials/menu', { currentPage: 'accueil' }) %>
        <section class="border reveal">
          <h2>Bienvenue sur le site du clan Werewolf Online!</h2>
          <p>
            Vous pouvez avoir accès aux règles, aux quêtes, aux évènements du clan mais aussi aux différents items
            cachés du jeu et un questionnaire permettant de gagner 10
            <img class="roses"
              src="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/rose.png?v=1709046833983">.
            <br />
            Les quêtes gratuites ne sont pas forcément à jour sur ce site, pour être sûr d'avoir les vrai nombres,
            suivez les annonces dans le clan.
          </p>
        </section>
        <section class="border reveal">
          <h2>Prochaine quête</h2>
          <img class="skin" src="<%= srcImgNext %>" />
          <% if (srcImgNext
            !="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/enattente.jpg?v=1709046894893" ) { %>
            <p>
              La prochaine quête sera une quête <img class="<%= currency[0] %>" src="<%= currency[1] %>" />
              <br />
              La quête commencera <%= dayNextQuest %>
                <br />
                Il y aura l'évènement <a href="/events#vivivslg">Villageois VS loup-garous</a> lors de cette quête
                <!--Il n'y aura pas d'évènement lors de cette quête.-->
            </p>
            <p>Participants pour le moment : (ne sont pas forcément les véritables participants) </p>
            <p>
              <% for (let j=0; j < nextParticipants.length; j++) { %>
                <%= nextParticipants[j] %>
                  <br />
                  <% } %>
            </p>
            <% } else { %>
              <br /><br />
              <% } %>
        </section>
        <section class="border reveal">
          <h2>Quête actuelle</h2>
          <img class="skin" src="<%= srcImg %>" />
          <p>
            <%= date %>
              <% if (srcImg
                !="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/enattente.jpg?v=1709046894893" ) { %>
                <br />
                Il n'y a pas d'évènement lors de cette quête.
                <% } %>
          </p>
          <% if (srcImg !="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/enattente.jpg?v=1709046894893"
            ) { %>
            <p>Participants :</p>
            <p>
              <% for (let j=0; j < participantsData.length; j++) { %>
                <%= participantsData[j].username %> : <%= participantsData[j].xp %>xp
                    <br />
                    <% } %>
            </p>
            <% } %>
        </section>
        <section class="border reveal">
          <h2>Évènement actuel</h2>
          <p>
            Aucun évènement n'est en cours actuellement.
          </p>
          <p>
            <a href="/events">En savoir plus sur l'évènement</a>
          </p>
        </section>
        <!--section class="border reveal">
      <h2>Évènement actuel</h2>
      <p>
        <a href="/events#vivivslg">Villageois VS loup-garous</a>
      </p>
      <p>
        <a href="/events">En savoir plus sur l'évènement</a>
      </p>
    </section-->
        <section>
          <img class="loup2 reveal" src="https://svgsilh.com/svg/159979-ffffff.svg" />
        </section>
        <%- include('partials/return') %>
    </main>
    <%- include('partials/footer') %>
      <script src="scripts/script.js"></script>

</body>

</html>