<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('partials/head', { title: "Note du questionnaire" }) %>
</head>

<body>
  <%- include('partials/header', { title: "Note du questionnaire" }) %>
  <main>
    <%- include('partials/menu', { currentPage: 'note' }) %>
    <section class="border reveal">
      <h1>Note</h1>
      <p>
        Bien joué <%= pseudo %> !
        <br />
        Vous avez eu : <%= correctAnswers %>/15
      </p>
      <p>
        Nous ne donnons pas les réponses bonnes / mauvaises pour que ce soit plus dur pour vous. A vous de relever le défi ! (Vous avez un total de 3 essaies)
        </p>
    </section>
    <%- include('partials/return') %>
  </main>
  <%- include('partials/footer') %>
  <script src="scripts/script.js"></script>
</body>

</html>