<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('partials/head', { title: "Récompenses" }) %>
</head>

<body>
  <%- include('partials/header', { title: "Récompenses" }) %>
  <main>
    <%- include('partials/menu', { currentPage: 'recompenses' }) %>
    <section id="bonus-malus" class="border reveal">
      <h2>Bonus / malus</h2>
      <p>
        Tous les 8000xp lors d'une quête, 1 quête 
        <img class="or" src="https://www.wolvesville.com/static/media/silver_coin.7b12538367a6d2cfa2c0.png" />
        gratuite. 
        <br />
        Moins de 300xp lors d'une quête, prochaine quête 
        <img class="or" src="https://www.wolvesville.com/static/media/silver_coin.7b12538367a6d2cfa2c0.png" />
        à 800
        <img class="or" src="https://www.wolvesville.com/static/media/silver_coin.7b12538367a6d2cfa2c0.png" />.
        <br />
        Moins de 1000xp lors d'une quête, prochaine quête
        <img class="or" src="https://www.wolvesville.com/static/media/silver_coin.7b12538367a6d2cfa2c0.png" />
        à 600 
        <img class="or" src="https://www.wolvesville.com/static/media/silver_coin.7b12538367a6d2cfa2c0.png" />.
      </p>
    </section>
    <section id="100kxp" class="border reveal">
      <h2>Tous les 100k xp contribué au clan</h2>
      <p>
        Vous pouvez choisir entre :
      </p>
      <p>
        1 quête 
        <img class="gem" src="https://cdn.wolvesville.com/challenges/icons/challenge-gems@2x.png" />
        gratuite
        <br />
        3 quêtes
        <img class="or" src="https://www.wolvesville.com/static/media/silver_coin.7b12538367a6d2cfa2c0.png" />
        gratuites
        <br />
        90 
        <img class="roses" src="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/rose.png?v=1709046833983" />
      </p>
    </section>
    <section id="topxp" class="border reveal">
      <h2>Top XP du mois</h2>
      <p>
        Chaque mois la personne ayant fait le plus d’xp gagnera 2 quêtes
        <img class="or" src="https://www.wolvesville.com/static/media/silver_coin.7b12538367a6d2cfa2c0.png" /> 
        gratuites.
      </p>
    </section>
    <%- include('partials/return') %>
  </main>
  <%- include('partials/footer') %>
  <script src="scripts/script.js"></script>
</body>

</html>