<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('partials/head', { title: "Règles" }) %>
</head>

<body>
  <%- include('partials/header', { title: "Règles du clan" }) %>
    <main>
      <%- include('partials/menu', { currentPage: 'regles' }) %>
        <section id="absence" class="border reveal">
          <h2>Absence</h2>
          <p>
            Expulsion au bout d'une semaine de non connexion.
            <br />
            Oubliez pas de prévenir en cas d'absences. Envoyez un message privé a la chef de préférence pour être sûr
            que le message sera vu.
            <br />
            Aucun xp à faire par semaine mais si trop d'inactivité on peut se permettre de vous enlever du clan.
          </p>
        </section>
        <section class="border reveal">
          <h2>Ban définitif</h2>
          <p>
            On ban définitivement les trollers, les homophobes et tous les comportements inappropriés (anti-jeu,
            team-up, injure, random...) même si il n’y a pas de membre du clan dans la partie.
          </p>
        </section>
        <section class="border reveal">
          <h2>Grind</h2>
          <p>
            Le grind est autorisé.
            <br />
            Chaque soir des parties grind seront ouverte par la cheffe ou vous serez prioritaire par rapport aux autres.
            <br /><br />
            Pour avoir des explications sur le grind : <a href="/informations">cliquez ici</a>.
          </p>
        </section>
        <section id="mute" class="border reveal">
          <h2>Comment mute le tchat du clan?</h2>
          <p>
            Vu qu'on est un clan qui parle beaucoup, il est possible que vous soyez dérangé par les messages.
          </p>
          <p>
            Pour enlever les notifications du tchat, il faut :
            <br />
            Cliquez sur le blason du clan
            <br />
            Cliquez sur l'onglet réglages
            <br />
            Décochez l'option "Tchat"
          </p>
          <p>
            Gardez l'option "Annonces" activer pour recevoir les annonces des quêtes et événements.
          </p>
        </section>
        <section id="idee" class="border reveal">
          <h2>Questions / idées</h2>
          <p>
            Si vous avez des questions ou des idées à nous faire parvenir, contactez nous sur discord ou par message
            privé voir même dans le tchat du clan.
          </p>
        </section>
        <section id="warning" class="border reveal">
          <h2>Attention</h2>
          <p>
            Toutes les informations auparavant sont susceptible de changer d'une semaine à l'autre, pour être sûr
            d'avoir les bonnes informations :
            <br />
            Surveillez les messages et annonces du clan.
            <br />
            Regardez les informations dans la description du clan et dans les messages épinglés dans le tchat du clan.
          </p>
        </section>
        <%- include('partials/return') %>
    </main>
    <%- include('partials/footer') %>
      <script src="scripts/script.js"></script>
</body>

</html>